@import "tailwindcss";
@import "tw-animate-css";

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@layer base {
  :root {
    --font-inter-tight: 'Inter Tight';
  }
  
  .serotiva-regular {
    font-family: var(--font-serotiva);
    font-weight: 400;
  }

  .serotiva-semibold {
    font-family: var(--font-serotiva);
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serotiva);
    font-weight: 700;
  }

  body {
    font-family: var(--font-inter-tight);
  }
}

.font-serotiva {
  font-family: var(--font-serotiva);
}

.font-inter {
  font-family: var(--font-inter-tight);
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.33%;
  }
}


.my-masonry-grid {
  display: flex;
  margin-left: -24px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 24px;
}