@import "tailwindcss";
@import "tw-animate-css";

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@layer base {
  :root {
    --font-serotiva: 'Serotiva';
    --font-inter-tight: 'Inter Tight';
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serotiva);
  }
  
  body {
    font-family: var(--font-inter-tight);
  }
}