.react-datepicker {
 border: 1px solid #e5e7eb; 
  border-radius: 0.375rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif;
} 

.react-datepicker__header {
  background-color: #f9fafb; 
  border-bottom: 1px solid #e5e7eb; 
  
}

.react-datepicker__current-month {
  font-size: 1rem;
  font-weight: 600;
  color: #111827; 
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0.2rem;
  font-size: 0.875rem; 
  color: #374151; 
}

.react-datepicker__day--selected {
  background-color: #111827; 
  color: white;
  border-radius: 0.375rem; 
}

.react-datepicker__day--keyboard-selected {
  background-color: #1f2937; 
  color: white;
}

.react-datepicker__day:hover {
  background-color: #e5e7eb;
  border-radius: 0.375rem; 
}

.react-datepicker__navigation {
  top: 10px;
  line-height: 1.5rem;
}

.react-datepicker__navigation-icon::before {
  border-color: #374151;
}